<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
</div>

<!-- Content Row -->
<div class="row">
<div class="jumbotron ml-3 bg-white shadow">
  <h1 class=""><strong>Willkommen im Redaktionsbereich <br>der Bad Belzig App</strong></h1>
  <hr class="my-4">
  <p>Sie haben hier die Möglichkeit, eigene Inhalte für die App zu erstellen und zu bearbeiten.</p>
  <p>Bei Fragen wenden Sie sich bitte an <a href="mailto:app@bad-belzig.de">app@bad-belzig.de</a></p>
</div>
</div>
