<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between">
  <h1 class="h3 mb-0 font-weight-bold">Dashboard</h1>
</div>

<!-- Content Row -->
<div class="row">
  <div class="jumbotron ml-3 bg-white shadow">
    <h2 class=""><strong>Willkommen im Redaktionsbereich</h2>
    <hr class="my-4" />
    <p>
      Sie haben hier die Möglichkeit, eigene Inhalte für die App zu erstellen und zu bearbeiten.
    </p>
    <p>
      Bei Fragen wenden Sie sich bitte an <a href="mailto:support@smart-village.app">support@smart-village.app</a>
    </p>
  </div>
</div>
