<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 font-weight-bold">Account bearbeiten</h1>
</div>

<div class="row">
  <div class="col-lg-8">
    <%= form_with( url: data_provider_path, method: :patch, local: true) do %>
      <% if @data_provider.present? %>
        <%= render partial: "data_provider/form", locals: { data_provider: @data_provider } %>
      <% end %>
    <% end %>
  </div>
  <div class="col-lg-4">
    <%= render partial: "form_hints" %>
  </div>
</div>
