<h1>Data Provider bearbeiten</h1>

<div class="row">
  <div class="col-8">
    <%= form_with( url: data_provider_path, method: :patch, local: true) do %>
      <%= render partial: "data_provider/form", locals: { data_provider: @data_provider } %>
    <% end %>
  </div>
  <div class="col-4">
    <%= render partial: "form_hints" %>
  </div>
</div>
