<button class="btn btn-primary ar-file-upload-toggle mt-3" type="button">
  Datei vom Computer hochladen
</button>

<input style="display: none" class="form-control-file ar-file-input" type="file">
<div class="upload-progress mt-3">
  <div class="progress">
    <div
        class="progress-bar upload-progress-bar"
        role="progressbar"
        aria-valuenow="0"
        aria-valuemin="0"
        aria-valuemax="100">
    </div>
  </div>
</div>
