<% list_of_dates = record.dates.presence || [OpenStruct.new] %>

<div id="nested-dates">
  <% list_of_dates.each_with_index do |date, index| %>
    <%= form.fields_for "dates[#{index}]", date do |fd|  %>
      <div class="nested-date-form">
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label for="description">Startdatum *</label>
              <%= fd.date_field :date_start, class: "form-control", value: fd.object.date_start %>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label for="description">Enddatum</label>
              <%= fd.date_field :date_end, class: "form-control", value: fd.object.date_end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
