<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Anmeldung</h1>
</div>

<%= form_tag( log_in_path , method: :post) do |f| %>
  <div class="form-group row">
    <label for="exampleInputEmail1" class="col-lg-2 col-form-label">E-Mail-Adresse</label>
    <div class="col-lg-6">
      <%= text_field_tag(:email, "", class: "form-control", placeholder: "E-Mail eingeben") %>
      <small id="emailHelp" class="form-text text-muted">
        Haben Sie noch keine Zugangsdaten, so wenden Sie sich bitte an <a href="mailto:support@smart-village.app">support@smart-village.app</a>
      </small>
    </div>
  </div>

  <div class="form-group row">
    <label for="exampleInputPassword1" class="col-lg-2 col-form-label">Passwort</label>
    <div class="col-lg-6">
      <%= password_field_tag(:password, "", class: "form-control", placeholder: "Passwort eingeben") %>
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Anmelden</button>
<% end %>
