<div class="text-center">
  <h1 class="h3 mb-0 font-weight-bold">
    Stellenanzeige bearbeiten
  </h1>
</div>

<div class="row justify-content-center">
  <div class="col-lg-8">
    <%= form_with(url: job_path(@job.id), method: :patch, local: true) do %>
      <%= render partial: "jobs/form", locals: { job: @job } %>
    <% end %>
  </div>
</div>
