<div class="d-flex flex-wrap align-items-center row-gap justify-content-center mb-5">
  <h1 class="h3 mb-0 pb-0 font-weight-bold mr-3">Veranstaltung bearbeiten</h1>
  <button class="btn btn-sm btn-primary shadow-sm trigger-copy">
    <i class="fas fa-plus fa-sm text-white-50"></i>
    Kopie erstellen
  </button>
</div>

<div class="row justify-content-center">
  <div class="col-lg-8">
    <%= form_with( url: event_path(@event.id), method: :patch, local: true) do %>
      <%= render partial: "events/form", locals: { event: @event } %>
    <% end %>
  </div>
</div>



<script>
  document.addEventListener("DOMContentLoaded", function() {
    const triggerButton = document.querySelector(".trigger-copy");
    const realCopyButton = document.getElementById("real-copy-button");
    
    triggerButton.addEventListener("click", function(e) {
      e.preventDefault(); 
      realCopyButton.click(); 
    });
  });
</script>
