<div class="d-sm-flex align-items-center justify-content-between">
  <h1 class="h3 mb-0 text-gray-800">
    Veranstaltung bearbeiten
  </h1>
</div>

<% if @event.category.present? %>
  <p class="lead">in der Kategorie <%= @event.category.name %></p>
<% end %>

<div class="row">
  <div class="col-lg-8">
    <%= form_with( url: event_path(@event.id), method: :patch, local: true) do %>
      <%= render partial: "events/form", locals: { event: @event } %>
    <% end %>
  </div>
  <div class="col-lg-4">
    <%= render partial: "form_hints" %>
  </div>
</div>
