<h1>Neue Veranstaltung anlegen</h1>

<div class="row">
  <div class="col-8">
    <%= form_with( url: events_path, method: :post, local: true) do %>
      <%= render partial: "events/form", locals: { event: @event } %>
    <% end %>
  </div>
  <div class="col-4">
    <%= render partial: "form_hints" %>
  </div>
</div>
