<div class="d-sm-flex align-items-center justify-content-between">
  <h1 class="h3 mb-0 text-gray-800">Veranstaltung anlegen</h1>
</div>

<div class="row">
  <div class="col-8">
    <%= form_with( url: events_path, method: :post, local: true) do %>
      <%= render partial: "events/form", locals: { event: @event } %>
    <% end %>
  </div>
  <div class="col-4">
    <%= render partial: "form_hints" %>
  </div>
</div>
