<div class="d-sm-flex align-items-center justify-content-between">
  <h1 class="h3 mb-0 font-weight-bold">Ort anlegen</h1>
</div>

<div class="row">
  <div class="col-lg-8">
    <%= form_with( url: point_of_interests_path, method: :post, local: true) do %>
      <%= render partial: "point_of_interests/form", locals: { point_of_interest: @point_of_interest } %>
    <% end %>
  </div>
</div>
