<div class="d-flex flex-wrap align-items-center row-gap justify-content-between mb-5">
  <h1 class="h3 mb-0 pb-0 font-weight-bold mr-3">Account </h1>
</div>

<div class="table-responsive pb-4">
  <div class="col-lg-8">
    <%= @data %>
  </div>
</div>
