<div class="row">
  <div class="col">
    <h3 class="d-sm-flex align-items-center justify-content-between my-4">
      Beschreibung
    </h3>
  </div>
</div>

<% list_of_content_blocks = job.content_blocks.presence || [OpenStruct.new] %>

<div id="nested-content-blocks">
  <% list_of_content_blocks.each_with_index do |content_block, index| %>
    <%= form.fields_for "content_blocks[#{index}]", content_block do |fcb| %>
      <div class="nested-content-block-form">
        <div class="card mb-4">
          <div class="card-header py-3  bg-dark text-white">
            <h3 class="m-0 font-weight-bold d-sm-flex align-items-center justify-content-between float-left">
              Beschreibungstext
            </h3>
            <input
              type="button"
              value="diesen Bereich entfernen"
              class="float-right removeContent btn btn-sm btn-danger"
            />
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="description">Text</label>
                  <%= fcb.text_area :body, class: "form-control html-editor html-editor-text", rows: 10 %>
                  <!-- TODO: HTML Editor muss auch bei hinzugefügten Bereichen funktionieren. -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
