<div class="d-sm-flex align-items-center justify-content-between">
  <h1 class="h3 mb-0 text-gray-800">Tour bearbeiten</h1>
</div>

<div class="row">
  <div class="col-lg-8">
    <%= form_with( url: tour_path(@tour.id), method: :patch, local: true) do %>
      <%= render partial: "tours/form", locals: { tour: @tour } %>
    <% end %>
  </div>
  <div class="col-lg-4">
    <%= render partial: "form_hints" %>
  </div>
</div>
