<div class="text-center">
  <h1 class="h3 mb-0 font-weight-bold">Tour anlegen</h1>
</div>

<div class="row justify-content-center">
  <div class="col-lg-8">
    <%= form_with( url: tours_path, method: :post, local: true) do %>
      <%= render partial: "tours/form", locals: { tour: @tour } %>
    <% end %>
  </div>
</div>
