<div class="text-center">
  <h1 class="h3 mb-0 font-weight-bold">
    Werbliche Anzeige bearbeiten
  </h1>
</div>

<div class="row justify-content-center">
  <div class="col-lg-8">
    <%= form_with( url: offer_path(@offer.id), method: :patch, local: true) do %>
      <%= render partial: "offers/form", locals: { offer: @offer } %>
    <% end %>
  </div>
</div>
