@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');

body {
  font-family: 'Titillium Web', sans-serif !important;
}

body .bg-gradient-primary {
  background-color: #2d963c;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(10%, #2d963c),
    to(#085036)
  );
  background-image: linear-gradient(180deg, #2d963c 10%, #085036 100%);
  background-size: cover;
}

body .btn-primary {
  color: #fff;
  background-color: #2d963c;
  border-color: #2d963c;
}

body .btn-primary:hover {
  color: #fff;
  background-color: #085036;
  border-color: #085036;
}

body .btn-secondary {
  color: #fff;
  background-color: #5a5c69;
  border-color: #5a5c69;
}

h1 {
  font-weight: bold;
  font-size: 30px;
  padding-bottom: 2em;
}

.hint {
  font-size: 0.8em;
  color: #999;
  padding: 3px 3px 5px;
}

.point_of_interest_attributes > span {
  margin-right: 1em;
  white-space: nowrap;
}
