@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');

body {
  font-family: 'Titillium Web', sans-serif !important;
}

body .bg-gradient-primary {
  background-color: #2d963c;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(10%, #2d963c),
    to(#085036)
  );
  background-image: linear-gradient(180deg, #2d963c 10%, #085036 100%);
  background-size: cover;
}

body #wrapper #content-wrapper {
  background-color: #fbfaf8;
}

body.app {
  color: #11223f;
}

body .table {
  color: #11223f;
}

body .navbar-nav.sidebar {
  background-color: #11223f;
}

body .btn-primary {
  background-color: #828960;
  border-color: #828960;
}

body .btn-primary:not(:disabled):not(.disabled):active,
body .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #11223f;
  background-color: #AEBFBC;
  border-color: #AEBFBC;
}

body .btn-primary:hover {
  opacity: 0.7;
  background-color: #828960;
  border-color: #828960;
}

body .btn-danger:hover {
  opacity: 0.7;
}

body .btn-secondary {
  color: #fff;
  background-color: #11223f;
  border-color: #11223f;
}

body .page-item.active .page-link {
  color: #fff;
  background-color: #11223f;
  border-color: #11223f;
}

body .page-link {
  color: #11223f;
}

body .page-link:hover {
  color: #fff;
  background-color: #11223f;
  border-color: #11223f;
}

body .custom-control-input:checked ~ .custom-control-label::before {
  border-color: #828960;
  background-color: #828960;
}

body .scroll-to-top:hover {
  background: #11223f;
}

h1 {
  font-weight: bold;
  font-size: 30px;
  padding-bottom: 2em;
}

.hint {
  font-size: 0.8em;
  color: #999;
  padding: 3px 3px 5px;
}

.point_of_interest_attributes > span {
  margin-right: 1em;
  white-space: nowrap;
}
