@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');

body {
  font-family: 'Titillium Web', sans-serif !important;
}

body .bg-gradient-primary {
  background-color: #2d963c;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(10%, #2d963c),
    to(#085036)
  );
  background-image: linear-gradient(180deg, #2d963c 10%, #085036 100%);
  background-size: cover;
}

body #wrapper #content-wrapper {
  background-color: #fff;
}

@media (max-width: 767px) {
  body .container,
  body .container-fluid {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  body .card-header {
    padding: 0.75rem;
  }

  body .card-body {
    padding: 0.5rem;
  }
}

body.app {
  color: #11223f;
}

@media (min-width: 768px) {
  body.app {
    margin-left: 104px; /* NOTE: necessary because of the sidebar */
  }
}

@media (max-width: 768px) {
  #sidebarToggleTop {
    margin-left: 104px; /* NOTE: necessary because of the sidebar */
  }

  #sidebarToggleTop.toggled {
    margin-left: 0; /* NOTE: necessary because of the sidebar */
  }
}

.row-gap {
  row-gap: 10px;
}

body .table {
  color: #11223f;
}

body .navbar-nav.sidebar {
  background-color: #11223f;
  left: 0;
  min-height: 100%;
  position: absolute;
  top: 0;
  z-index: 2;
}

body .btn-primary {
  background-color: #b1bfba;
  border-color: #b1bfba;
  color: #11223f;
}

body .btn-primary:not(:disabled):not(.disabled):active,
body .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #11223f;
  background-color: #AEBFBC;
  border-color: #AEBFBC;
}

body .btn-primary:hover {
  opacity: 0.7;
  background-color: #b1bfba;
  border-color: #b1bfba;
  color: #11223f;
}

body .btn-danger:hover {
  opacity: 0.7;
}

body .btn-secondary {
  color: #fff;
  background-color: #11223f;
  border-color: #11223f;
}

body .page-item.active .page-link {
  color: #fff;
  background-color: #11223f;
  border-color: #11223f;
}

body .page-link {
  color: #11223f;
}

body .page-link:hover {
  color: #fff;
  background-color: #11223f;
  border-color: #11223f;
}

body .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #b1bfba;
  border-color: #b1bfba;
}

body .scroll-to-top:hover {
  background: #11223f;
}

h1 {
  font-weight: bold;
  font-size: 30px;
  padding-bottom: 2em;
}

.btn.btn-primary.btn--big {
  font-size: 20px;
}

.hint {
  font-size: 0.8em;
  color: #999;
  padding: 3px 3px 5px;
}

.point_of_interest_attributes > span {
  margin-right: 1em;
  white-space: nowrap;
}

.button-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: #F5F5F5;
}

.html-editor-text + .ck-editor .ck-editor__editable {
  min-height: 200px;
}

.card-header > h4 {
  margin-bottom: 0;
}

.leafletMap {
  height: 320px;
}

.modal-body img {
  width: 100%;
}

/* SVA-315 */
.ck.ck-splitbutton:hover > .ck-file-dialog-button + .ck-splitbutton__arrow::after {
  width: 0 !important;
}

/* Fileupload: SVA-226 */
.form-control-file {
  margin-bottom: 1em;
}

.upload-progress, .image-preview-wrapper {
  display: none;
}

.image-preview-wrapper {
  margin-top: 2em;
}

.image-preview-wrapper > label {
  text-align: center;
  text-decoration: underline;
  display: block;
}

.image-preview {
  max-width: 100%;
  max-height: 200px;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

.file-upload-collapse {
  margin-bottom: 1em;
}

.matrix-checkbox{
  -webkit-appearance: none;
  position: relative;
  border: none;
  cursor: pointer;
  padding: 0px;
  pargin: 0px;
}

.matrix-checkbox::before {
  width: 25px;
  height: 25px;
  border-radius: 5px;
  border: 1px solid #11223f;
  background-color: #fff;
  display: block;
  content: "";
  float: left;
  margin-right: 5px;
  z-index: 5;
  position: relative;
}

.matrix-checkbox:checked::before{
  box-shadow: inset 0px 0px 2px 2px #fff;
  text-align: left;
  align-content: left;
  background-color: #11223f;
}

.matrix-header{

}
