<% fields = ["name"] %>
<% force_visibility ||= false %>
<% list_of_categories = record.categories.presence || [OpenStruct.new] %>
<% tag_filter ||= nil %>
<% @categories = @categories.select { |category| category.tag_list.blank? || category.tag_list.split(",").map(&:strip).include?(tag_filter) } if tag_filter.present? %>

<div id="nested-categories">
  <% list_of_categories.each_with_index do |category, index| %>
    <%= form.fields_for "categories[#{index}]", category do |fcb| %>
      <div class="nested-category-form<%= " d-none" if record_type != "news_item" && !force_visibility && empty?(category, fields) %>">
        <div class="card mb-4">
          <div class="d-flex flex-wrap justify-content-between card-header py-3 bg-dark text-white">
            <h4>
              Kategorie
            </h4>
            <%= link_to "#", class: "remove btn btn-sm btn-danger" do %>
              <i class="fa fa-trash text-white"></i>
            <% end %>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="description">Name</label>
                  <%= fcb.select(
                        :name,
                        options_for_select(@categories.map(&:name), fcb.object.name),
                        { include_blank: true },
                        { class: "form-control" }
                      ) %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
