<link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"></script>

<style type="text/css">
  #leafletMap {
    height: 400px;
  }
</style>
<div id="open_street_map">
  <div id="leafletMap"></div>
</div>
