<div class="row">
  <div class="col">
    <h3 class="d-sm-flex align-items-center justify-content-between mb-4">
      Kontakte
      <input type="button" value="Kontakt hinzufügen" id="nested-add-event-contacts" class="btn btn-sm btn-secondary"/>
    </h3>
  </div>
</div>

<% list_of_contacts = event.contacts.presence || [OpenStruct.new(web_urls: [OpenStruct.new])] %>
<% list_of_contacts.each_with_index do |contact, index| %>
  <div id="nested-event-contacts">
    <%= form.fields_for "contacts[#{index}]", contact do |fc|  %>
      <div id="nested-event-contact-form">
        <%= render partial: "shared/partials/contact_form", locals: { form: fc, contact: contact } %>
        <input type="button" value="Kontakt entfernen" class="remove btn btn-sm btn-danger">
      </div>
    <% end %>
    <hr />
  </div>
<% end %>
