<div class="row">
  <div class="col">
    <h3 class="d-sm-flex align-items-center justify-content-between my-5">
      Ansprechpartner für die Veranstaltung
    </h3>
  </div>
</div>

<% list_of_contacts = event.contacts.presence || [OpenStruct.new(web_urls: [OpenStruct.new])] %>
<% list_of_contacts.each_with_index do |contact, index| %>
  <div id="nested-event-contacts">
    <%= form.fields_for "contacts[#{index}]", contact do |fc|  %>
      <div id="nested-event-contact-form">
      <div class="card mb-4">
        <div class="card-header py-3  bg-dark text-white">
          <h4 class="m-0 d-sm-flex align-items-center justify-content-between float-left">
            Kontakt 
          </h4  >
          <input type="button" value="diesen Kontakt entfernen" class="removeContent btn btn-sm btn-danger float-right ">
        </div>
        <div class="card-body">
          <%= render partial: "shared/partials/contact_form", locals: { form: fc, contact: contact } %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<input type="button" value="Kontakt hinzufügen" id="nested-add-event-contacts" class="btn btn-sm btn-secondary"/>
<hr />