<div class="modal fade" id="applicationsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Applications</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <% @current_user.applications.each do |application| %>
          <h6><%= application["name"] %></h6>
          <dl class="dl-horizontal">
            <dt>App-ID:</dt>
            <dd><%= application["uid"] %></dd>

            <dt>App-Secret:</dt>
            <dd><%= application["secret"] %></dd>
          </dl>
        <% end %>
      </div>
    </div>
  </div>
</div>
