<!-- Nav Item - Dashboard -->
<li class="nav-item active">
  <a class="nav-link" href="/">
    <i class="fas fa-fw fa-tachometer-alt"></i>
    <span>Dashboard</span>
  </a>
</li>

<li class="nav-item active">
  <a class="nav-link" href="/data_provider">
    <i class="fas fa-fw fa-university"></i>
    <span>Data Provider</span>
  </a>
</li>

<!-- Divider -->
<hr class="sidebar-divider" />

<!-- Heading -->
<div class="sidebar-heading">
  Resources
</div>

<!-- Nav Item - News -->
<li class="nav-item">
  <a class="nav-link" href="/news_items">
    <i class="fas fa-fw fa-chart-area"></i>
    <span>Nachrichten</span>
  </a>
</li>

<!-- Nav Item - Events -->
<li class="nav-item">
  <a class="nav-link" href="/events">
    <i class="fas fa-fw fa-chart-area"></i>
    <span>Veranstaltungen</span></a>
</li>

<!-- Nav Item - POIs -->
<li class="nav-item">
  <a class="nav-link" href="/point_of_interests">
    <i class="fas fa-fw fa-chart-area"></i>
    <span>Point Of Interest</span>
  </a>
</li>

<!-- Nav Item - Tours -->
<li class="nav-item">
  <a class="nav-link" href="/tours">
    <i class="fas fa-fw fa-chart-area"></i>
    <span>Touren</span>
  </a>
</li>
